@import '/src/scss/variables';

.ps__navbar {
    padding: $gutter*4 $gutter*4 0 $gutter*4;
    
    background: $white;
    
    -moz-box-shadow: 0 4px 4px rgba(150,150,150,.3);
    -webkit-box-shadow: 0 4px 4px rgba(150,150,150,.3);
    box-shadow: 0 4px 4px rgba(150,150,150,.3);
}
.ps__navbar_wrap {
    display: grid;
    grid-template-areas: 
        'logo logo logo social'
        'menu menu menu menu';

    row-gap: $gutter*2;
}

/*
  LARGE DEVICES
*/
@media (min-width: 768px) {
    .ps__navbar {
        padding: $gutter*4;
    }
    .ps__navbar_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}