@import '/src/scss/variables';

:host {
    display: grid;
    grid-area: social;
}

.ps__navbar_social {
    
    display: flex;
    justify-content: flex-end;
    grid: $gutter*2;

    li a {
        display: inline-block;

        padding: $gutter*3;
        
        color: $mineShaft;
    }
}
