/*CSS RESET*/
@import './scss/reset';

/*Global Variables*/
@import './scss/variables';


body {
    background: $offWhite;
}

.container {
    width: 100%;
    max-width: $containerSize;

    margin: 0 auto;
}

