.container.wrap {
    display: grid;
    grid-template-columns: 1fr;
    padding: 32px 16px;
    grid-gap: 16px;
    justify-content: center;
    transition: grid-template-columns 15s ease;
}

@media (min-width:600px) {
    .container.wrap {
        grid-template-columns: repeat(auto-fit, 220px);
    }
}

@media (min-width: 1024px) {
    .container.wrap {
        grid-template-columns: repeat(auto-fit, 280px);
    }
}